body{
    padding-top: 100px;
    padding-bottom: 90px;    
    background-color: #E5E5E5;
    max-width: 430px; 
}

*{
    box-sizing: border-box;
    scrollbar-width: none;
    scrollbar-highlight-color: transparent;
    scrollbar-shadow-color: transparent;
}
.scroll::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

h2{
    font-family: Righteous;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    padding-left: 10px;
    margin: 5px ;
}

.topo{
    width: 100%;
    max-width: 430px; 
    height:92px;
    background-color: #CF2B2B;   
    
    padding: 5px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.topo h1{
    font-family: Righteous;
    font-size: 44px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #fff;

    margin: 5px 0 0px 15px;
}

.topo p{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #fff;
    margin: 0px 0 5px 15px;

}

.carrossel-prato, .carrossel-bebida, .carrossel-sobremesa{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    overflow: hidden;
    overflow-x: scroll;
    padding: 15px;
}

.prato, .bebida, .sobremesa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 5px;
    width: 172px;
    height: 216px;
    background-color: #fff;

    border: 7px solid transparent;
    border-radius: 9px;

    /* margin: 15px 15px; */
    position: relative;
}

.prato img, .bebida img, .sobremesa img{
    width: 144px;
    height: 87px;
    margin: 0 auto;

    border-radius: 5px;
}

.prato h3, .bebida h3, .sobremesa h3{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin: 5px 0;
}

.prato p, .bebida p, .sobremesa p{
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #A6A6A6;

    margin: 5px 0;

}

.prato span, .bebida span, .sobremesa span{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: px;
}

.check{
    position: absolute;
    bottom: 10px;
    right: 5px;
    height: 15.4375px;
    width: 15.4375px;

    opacity: 0;

    color: #32B72F;

}

.selecionado{
    border: 7px solid #32B72F;
}

.selecionado .check{
    opacity: 1;
    
}

.fechamento{
    width: 100%;
    max-width: 430px; 
    height: 92px;
    background-color: #fff;

    position: fixed;
    bottom: 0;
    left:0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fechamento .botao{
    width: 88%;
    height: 61px;
    border-radius: 50px;
    padding: 0 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-inativo{
    background-color: #CBCBCB;
}

.botao-selecionado{
    background-color: #32B72F;
}

.fechamento .botao p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;
    color: #fff;
}

.confirmar-pedido{
    width: 335px;

    background-color: #50D074;
    border-radius: 9px;
    z-index: 2;
}

.confirmar-pedido h3{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;

    margin: 20px 0;
}

.confirmar-pedido div{
    display: flex;
    justify-content: space-between;

    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #fff;

    margin: 10px 20px;

}

.confirmar-pedido .total{
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.018em;
    text-align: left;
    color: #fff;

}

.confirmar-pedido button{
    width: 320px;
    height: 52px;
    margin: 0 auto;

    border-radius: 20px;
    border: none;
    background-color: #fff;

    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.018em;
    /* text-align: center; */
    color: #50D074;
}

.confirmar-pedido p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;
    color: #fff;

    margin: 20px 0;
}

.transparencia{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;

    background-color: rgba(255, 255, 255, .9);

    display: flex;
    justify-content: center;
    align-items: center;
}




.off {
    display: none;
}